* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html{
  font-size: 62.5%;
}

.heading {
color: #fff;
text-transform: uppercase;
font-size: 4rem;
margin-bottom: 3.5rem;
border-bottom: 0.1rem solid #fff;
padding: 1rem 0;
}

span{
    color: #a82323;
}

section{
    padding: 3.5rem 7%;
    background-color: #2c1b1b;
}

/* ! header start */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2c1b1b;
  border-radius: 5rem;
  margin-top: 2rem;
  padding: 1rem 2.5rem;
  left: 50%;
  width: 86%;
  transform: translateX(-50%);
  position: fixed;
  z-index: 10;
}

.logo img {
  width: 7rem;
  border-radius: 50%;
}

.menu{
  display: flex;
  align-items: center;
}

.menu ul {
  display: flex;
  align-items: center;
  gap: 3rem;
  list-style: none;
}

.menu ul li a {
  color: #fff;
  font-size: 1.8rem;
  text-decoration: none;
}

.menu a::after{
  content: "";
  display: block;
  background: red;
  width: 0;
  height: 0.2rem;
  transition: width 0.3s ease-in;
}

.menu a:hover::after {
  width: 100%;
}

.icons{
  display: flex;
  align-items: center;
  gap: 2rem;
  color: #fff;
  font-size: 2rem;
  padding-right: 1rem;
  cursor: pointer;
}

.bi-search input{
  position: absolute;
  bottom: 3.1rem;
  right: 10rem;
  width: 30rem;
  height: 3rem;
  border-radius: 2rem;
  padding: 0 1rem;
  border: none;
  outline: none;
}

#menu-btn{
  display: none;
}

/* ! hero start */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  color: #fff;
  background-image: url(images/stock-photo-pizza-ingredients-background\).jpg);
  background-size: cover;
  background-position: center;
 background-repeat: no-repeat;
 height: 100vh;
 
}

.hero h1 {
  font-size: 7rem;
  letter-spacing: 0.03rem;
}

.hero p {
  font-size: 3rem;
  letter-spacing: 0.1rem;
}



/* ! about start */
.about-content{
    display: flex;
    align-items: center;
    column-gap: 15rem;
}

.about-content img{
    width: 70rem;
   margin-top: 8rem;
}

.about-content p{
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}

/* ! products start */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

.cards .card {
  background-color: #8c5a3c;
  border-radius: 1.5rem;
  overflow: hidden;
  padding-bottom: 2rem;
  text-align: center;
  margin-top: 6rem;
}

.cards .card img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-radius: 1rem;
  cursor: pointer;
  transition:  transform 0.3s ease;
}

.cards .card:hover img{
    transform: scale(1.1);
}

.card h3 {
  margin-top: 1.5rem;
  font-size: 2rem;
  color: #fff;
}

.card .price {
  margin-top: 1.5rem;
  color: #fff;
  font-size: 1.4rem;
}

.card .btn {
  margin-top: 2.7rem;
}

.card .btn a {
  text-decoration: none;
  background-color: #eb4c4c;
  color: #fff;
  padding: 1.1rem 1.3rem;
  border-radius: 2rem;
  cursor: pointer;
  border: 0.1rem solid #e81717;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
    font-size: 1.3rem;
}

.card .btn a:hover {
  background-color: #a82323;
  border-color: #fff;
}

/* ! gallery start */
.gallery .images{
  display: flex;
  align-items: center;
  overflow-x: auto;
  scroll-snap-type:x mandatory;
  width: 100%;
  gap: 2rem;
  padding: 2rem 0;
}

.gallery .images img{
  width: 100%;
  height: 60rem;
  flex-shrink: 0;
  scroll-snap-align: center;
  object-fit: cover;
  border-radius: 2rem;
}

/* ! costumer reviw start */
.costumer-review .reviews{
   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  width: 100%;
  text-align: center;
}

.costumer-review .reviews .review {
  background-color: #fff;
  border-radius: 2rem;
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.costumer-review .reviews .review img{
 width: 10rem;
 height: 10rem;
 object-fit: cover;
 object-position: center;
 border-radius: 50%;
 border: none;
}

.costumer-review .reviews .review h5{
  font-size: 2rem;
  margin-top: 3rem;
}

.costumer-review .reviews .review p{
  font-size: 1.2rem;
  margin-top: 2rem;
  line-height: 1.6rem;
}

.costumer-review .reviews .review .stars{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
  color: gold;
  font-size: 1.3rem;
  margin-top: auto;
}


/* ! contact start */
.contact .row{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.contact .row .col-1 iframe{
  width: 100%;
  height: 50rem;
  border: none;
}

.contact .row .col-2{
  background-color: #000;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
 gap: 3rem;
 color: #fff;
}

.contact .row .col-2 h4{
  font-size: 4rem;
  margin-bottom: 2rem;
}

.contact .row .col-2 input{
  width: 50rem;
  height: 4rem;
  border: none;
  outline: none;
  background-color: rgb(10, 9, 9);
  color: #fff;
}

.contact .row .col-2 i{
  font-size: 1.8rem;
  margin-right: 0.5rem;
 
}

.contact .row .col-2 .btn{
  padding: 1.2rem 3.5rem;
  border-radius: 2rem;
  background-color: #eadcdc;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.contact .row .col-2 .btn:hover{
  background-color: #a0b77d;
  color: #fff;
}

/* ! last-section start */
.last-section{
 background-color: #000;
 position: relative;
}

.last-section .search-bar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.last-section .search-bar input{
  outline: none;
  border: none;
  border-radius: 2rem;
  padding: 1.7rem 5rem 1.5rem 1rem;
}

.last-section .search-bar button{
  color: #fff;
  background-color: red;
  padding: 1.3rem 1.6rem;
  border-radius: 2rem;
  font-size: 1.5rem;
  margin-left: 1REM;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease;
}

.last-section .search-bar button:hover{
  background-color: #d63232;
}

.last-section .share{
 color: #fff;
text-align: center;
margin-top: 5rem;
}


.last-section .share a{
color: #fff;
font-size: 2rem;
 margin: 0 2rem;
 border: 0.1rem solid #fff;
 padding: 1rem;
 border-radius: 50%;
 text-decoration: none;
 transition: background-color 0.2s ease, color 0.2s ease;
}

.last-section .share a:hover{
  background-color: red;
  color: #fff;
}

.last-section .last-section-menu ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 6rem;
}

.last-section .last-section-menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  background-color: red;
  padding: 1rem 2rem;
  border: 0.1rem solid rgb(255, 125, 125);
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.last-section .last-section-menu ul li a:hover{
  background-color: #000;
  border-color:  #fff;
}

.last-section footer{
  color: #fff;
  font-size: 1.9rem;
  text-align: center;
  margin-top: 4.4rem;
}

/* ! responsive start */
@media (max-width:1224px){

.menu{
 gap:5rem;
}

.about-content{
 flex-direction:column;
 row-gap:5rem;
}

.about-content img{
 width:100%;
 max-width:50rem;
}

.hero h1{
 font-size:5rem;
}

.hero p{
 font-size:2rem;
}

.contact .row .col-2 input{
  width: 40rem;
  
}

}

@media (max-width:847px){

#menu-btn{
  display: block;
}

html{
 font-size:55%;
}

header{
 width:95%;
}

.menu ul{
 display:none;
}

.hero h1{
 font-size:4rem;
 text-align:center;
}

.hero p{
 font-size:1.8rem;
 text-align:center;
}

.gallery .images img{
 height:40rem;
}

.contact .row{
 grid-template-columns:1fr;
}

.contact .row .col-2 input{
 width: 40rem;
}

}

@media (max-width:590px){

html{
 font-size:50%;
}

.heading{
 font-size:3rem;
}

.hero h1{
 font-size:3rem;
}

.last-section .last-section-menu ul{
 flex-direction:column;
 gap: 4rem;
}

.costumer-review .reviews .review p{
  margin-top:2rem;
}

.costumer-review .reviews{
 grid-template-columns:1fr;
}

.contact .row .col-2 input{
 width: 30rem;
}

.contact .row .col-2 .btn{
  margin-bottom: 1rem;
}

}
